
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @*class="img-responsive"   عکس را ریسپانسیو میکند*@
    <div>
        <div class="container" style="margin-top:15px;">                   @*container-fluid کل صفحه رامیگیرد*@
            @*  مارجین چپ و راست بخاطر دستور بالا است*@
            <div class="row">
                <div class="col-lg-1 col-lg-pull-2 pull-right" dir="rtl" style="background-color:blue;">سلام 1</div>    @*پول رایت میبره راست و کول پول به چپ میبرد*@
                <br />
                <div class="col-md-2 pull-right" dir="rtl" style="background-color:red;">salam2</div>
                <br />
                <div class="col-sm-3 pull-right" style="background-color:green;">salam3</div>
                <br />
                <div class="col-xs-4 pull-right" style="background-color:brown;">salam4</div>
                <br />
                <div class="col-lg-5 pull-right" style="background-color:purple;">salam5</div>
                <br />
                <div class="col-lg-6  col-lg-push-2 pull-right" style="background-color:orange;">salam6</div>          @*کول پوش ایتم را به راست میبرد*@
                <br />
                <div class="col-lg-7" style="background-color:orchid;">salam7</div>
                <br />
                <div class="col-lg-8" style="background-color:sandybrown;">salam8</div>
                <br />
                <div class="col-lg-9" style="background-color:darkolivegreen;">salam9</div>
                <br />
                <div class="col-lg-10" style="background-color:mediumaquamarine;">salam10</div>
                <br />
                <div class="col-lg-11" style="background-color:chartreuse;">salam11</div>
                <br />
                <div class="col-lg-12" style="background-color:yellow;">salam12</div>
            </div>
        </div>

        <hr />
        <div class="container">
            <div class="row" style="background-color:azure;height:110px;margin:20px 0 0 20px">
                <div class="col-lg-6">
                    <div class="col-lg-12" style="background-color:magenta;height:30px;margin-top:20px"></div>
                    <div class="col-lg-12" style="background-color:magenta;height:30px;margin-top:10px"></div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12" style="background-color:orange;height:70px;margin-top:20px"></div>
                </div>
            </div>

            <hr />
            <div class="row" style="margin-top:15px;">
                <div class="col-lg-1" style="background-color:green;height:40px;"></div>
                <div class="col-lg-3 col-lg-offset-2" style="background-color:green;height:40px;"></div> @*اف ست بین خودش و قبلیش فاصله میندازه*@
                <div class="col-lg-3 col-lg-offset-1" style="background-color:green;height:40px;"></div>
                <div class="col-lg-1 col-lg-offset-1" style="background-color:green;height:40px;"></div>
                @*تفاوت افست و کول پول و کول پوش اینه ک افست کل مجموعه بعد خود را هم تغییر میدهد مانند مارجین
                    ولی باتوم یا تاپ یا کول پول یا کول پوش فقط خودشان تغییر میکنند مثلا میرود زیر بعدی به جای اینکه
                    بعدی را ببرند جلو*@
            </div>
        </div>
    </div>
</body>
</html>
