
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Share/layout/_Layout1.cshtml";
}


                       @*th بدرد نمیخورد
                       سنتر میزنیم بیاد وسط و رایرکشن رایت ک نام بیاد راست  و ...*@


<div class="container-fluid text-center"dir="rtl">
    <table class="table">
        <tr style="font-weight:bold;font-size:17px">
            <td>نام</td>
            <td>نام خانوادگی</td>
            <td>نمره</td>
        </tr>
        <tr>
            <td>مهدی</td>
            <td>حاجیان</td>
            <td>20</td>
        </tr>
        <tr>
            <td>علی</td>
            <td>داستانپور</td>
            <td>18</td>
        </tr>
        <tr>
            <td>محمد</td>
            <td>بدیعی</td>
            <td>19.5</td>

        </tr>
    </table>

    <table class="table table-hover">
        <tr style="font-weight:bold;font-size:17px">
            <td>نام</td>
            <td>نام خانوادگی</td>
            <td>نمره</td>
        </tr>
        <tr>
            <td>مهدی</td>
            <td>حاجیان</td>
            <td>20</td>
        </tr>
        <tr>
            <td>علی</td>
            <td>داستانپور</td>
            <td>18</td>
        </tr>
        <tr>
            <td>محمد</td>
            <td>بدیعی</td>
            <td>19.5</td>

        </tr>
    </table>

    <table class="table table-bordered">
        <tr style="font-weight:bold;font-size:17px">
            <td>نام</td>
            <td>نام خانوادگی</td>
            <td>نمره</td>
        </tr>
        <tr>
            <td>مهدی</td>
            <td>حاجیان</td>
            <td>20</td>
        </tr>
        <tr>
            <td>علی</td>
            <td>داستانپور</td>
            <td>18</td>
        </tr>
        <tr>
            <td>محمد</td>
            <td>بدیعی</td>
            <td>19.5</td>

        </tr>
    </table>

    <table class="table table-striped">
        <tr style="font-weight:bold;font-size:17px">
            <td>نام</td>
            <td>نام خانوادگی</td>
            <td>نمره</td>
        </tr>
        <tr>
            <td>مهدی</td>
            <td>حاجیان</td>
            <td>20</td>
        </tr>
        <tr>
            <td>علی</td>
            <td>داستانپور</td>
            <td>18</td>
        </tr>
        <tr>
            <td>محمد</td>
            <td>بدیعی</td>
            <td>19.5</td>
        </tr>
    </table>

    <table class="table table-bordered table-hover">
        <tr style="font-weight:bold;font-size:17px" class="info">
            <td>نام</td>
            <td>نام خانوادگی</td>
            <td>نمره</td>
        </tr>
        <tr class="warning">
            <td>مهدی</td>
            <td>حاجیان</td>
            <td>20</td>
        </tr>
        <tr class="alert">
            <td>علی</td>
            <td>داستانپور</td>
            <td>18</td>
        </tr>
        <tr class="active">
            <td>محمد</td>
            <td>بدیعی</td>
            <td>19.5</td>
        </tr>
    </table>

    @*http://webone.co/fa/%D9%85%D9%82%D8%A7%D9%84%D8%A7%D8%AA/%D9%85%D9%82%D8%A7%D9%84%D8%A7%D8%AA-%D8%A7%D9%85%D9%88%D8%B2%D8%B4%DB%8C/%D8%A7%D9%85%D9%88%D8%B2%D8%B4-twitter-bootstrap/%D8%A7%DB%8C%D8%AC%D8%A7%D8%AF-%D9%85%D9%86%D9%88%DB%8C-%DA%A9%D8%B4%D9%88%DB%8C%DB%8C-%D8%A8%D8%A7-%D9%BE%D9%84%D8%A7%DA%AF%DB%8C%D9%86-bootstrap*@

</div>