
@{
    ViewBag.Title = "index";
}
<form id="form1"  class="container" style="font-family:Tahoma;">
    <div>
        <button class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-globe"></span>
            home
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
    </div>
    <br />
    <br />
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            sabad
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a>one site</a></li>
            <li><a>2 site</a></li>
            <li><a>3 site</a></li>
            <li><a>4 site</a></li>
        </ul>
    </div>
    <br />
    <br />
    <div class="dropdown" dir="rtl">
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            سبد کالا
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" style="text-align:right">
            <li class="dropdown-header">سایت ها</li>
            <li><a>سایت اول</a></li>
            <li><a>سایت دوم</a></li>
            <li><a>سایت سوم</a></li>
            <li><a>سایت چهارم</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">اموزش ها</li>
            <li><button class="btn btn-success btn-block">جاوا</button></li>
            <li><button class="btn btn-warning btn-block">سی شارپ</button></li>
            <li><button class="btn btn-danger btn-block">سی پلاس پلاس</button></li>
        </ul>
    </div>
</form>
