
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Share/layout/_Layout1.cshtml";
}
@*<input type="range" />*@
<div class="container">
    <div style="margin-left:10px;margin-top:10px;" class="success">
        <fieldset @*disabled*@>
            @*برای دیسیبل کردن کل فیلد داخل این تگ*@
            <div class="form-group">
                <label>Email :</label>
                <input type="email" placeholder="enter your email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password :</label>
                <input type="password" class="form-control" placeholder="enter your password" />
            </div>
            <div class="form-group">
                <label>enter your birthday :</label><br />
                <input type="date" />
            </div>
            <div class="form-group">
                <label>select your sex :</label><br />
                @*اگر چک باکس یا رادیو را با متن درون تگ لیبل بگذاریم اگر در متن کلیک کردم لیبل یا چکباکس هم عمل میکند*@
                <label> male : <input type="radio" name="sex" /></label><br />
                <label>female : <input type="radio" name="sex" disabled /></label>     @*با دیسیبل کردن رادیو از کار می افتد*@
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="slam" readonly />     @*مثل دیسیبل ولی علامت ممنوع نمی اید*@
            </div>
            <div class="form-group">
                <label>addres : </label>
                <textarea class="form-control" rows="3" placeholder="plz type your addres here"></textarea>    @*برای گرفتن متن طولانی*@
            </div>
            <div class="form-group">
                <label>Upload file</label>
                <input type="file" />
                <p class="help-block">your pic be must lower of 1 MB</p>
            </div>
            <div class="form-group">
                <label><input type="checkbox" disabled /> I accept it</label>             @*با دیسیبل کردن از کار می افتد*@
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="sign in" />
            </div>
        </fieldset>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="form-inline" style="margin-left:10px;">
        @*برای اینکه همگی در یک خط باشند و مثلا تکست باکس را کوچک میکند*@
        <div class="form-group">
            <label>email : </label>
        </div>
        <div class="form-group">
            @*برای انکه بعد از ایمیل در خط بعدی نرود و همگی دایو های اصلی باید داشتخه باشند*@
            <div class="input-group">
                @*برای اینکه ادساین یک ستون کامل را نگیرد*@
                @*وقتی همگی این دستورات پایین را در یک دایو بنویسیم به یکدیگر میچسبند و فاصله بین انها نمی افتد*@
                <input type="text" placeholder="part 1 of email" class="form-control" />
                <p class="input-group-addon">@@</p>
                <input type="text" class="form-control" placeholder="part 2 of email" />
                <p class="input-group-addon">.com</p>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" />  <label>I accept</label>
        </div>
        <div class="form-group">
            <input type="submit" value="submit" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    @*رادیو اینلاین و رادیو چکباکس برای بقل هم قرار دادن انهاست
        البته اینجا چون در یک دایو هستند کلا بقل همدیگه اند ولی فاصله ی
        انها قشنگ میشود و نباید چکباکس اینلاین و رادیو اینلاین را جابجا بکار برد تا قشنگ شود*@
    <div style="margin-left:10px;">
        <label class="checkbox-inline"><input type="checkbox"> 1</label>
        <label class="checkbox-inline"><input type="checkbox" checked="checked"> 2</label>    @*چکد برای گزینه ی پیشفرض است*@
        <label class="radio-inline"><input type="radio"> 3</label>
        <label class="radio-inline"><input type="radio" checked="checked"> 4</label>          @*چکد برای گزینه ی پیشفرض است*@
        <label class="radio-inline"><input type="radio"> 5</label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="form-group form-inline" style="margin-left:10px;">
        @*اینلاین دادم برای کوچک کردن و بینش اینتر زدم ک بقل هم نیان*@
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option selected>3</option>
            <option>4</option>
        </select>
        <br />
        <select multiple class="form-control">
            @*مولتی پل برای چند انتخابی*@
            <option>6</option>
            <option selected>7</option>
            <option selected>8</option>              @*سلکتد برای انتخاب پیشفرض*@
            <option>9</option>
        </select>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="form-group has-success has-feedback">
        @*هز ساکسز میگوید سبز باشد و هس فیدبک برای قرار گرفتن ایکون داخل تکسباکس هست*@
        <label class="control-label">is success</label>
        <input type="text" class="form-control" />
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>    @*کلاس گرافیک برای نشان دادن ایکون گرافیک است اگر ننویسیم ایکون ناشناس میشود*@
        @*کرافیک اوکی یا گرافیک هرچی میتواند باشد و فرم کنترل فیدبک میگوید درون این تکست باکس باشد وگرنه میره زیره تکستباکس*@
    </div>
    <div class="form-group has-warning has-feedback">
        <label class="control-label">is warning</label>
        <input type="text" class="form-control" />
        <p class="glyphicon glyphicon-warning-sign form-control-feedback"></p>  @*تگ اسپن یا پی حتما باید باشد*@
    </div>
</div>