
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="text-align:center ">
        <p class="lead">سلام لید</p>
        <p>
            <mark>سلام مارک</mark>
        </p>
        <p>
            <small>سلام اسمال</small>
        </p>
        <p>
            <del>سلام دل</del>
        </p>
        <p>
            <s>سلام اس</s>
        </p>
        <p>
            <ins>سلام اینتس</ins>
        </p>
        <p>
            <u>سلام یو</u>
        </p>
        <p>
            <strong>سلام استرانگ</strong>
        </p>
        <p>
            <em>سلام ام</em>
        </p>
        <p>
            <i>سلام آی</i>
        </p>
        <p class="text-center"> سلام تکس سنتر</p>
        <p class="text-left">سلام تکست لفت</p>                    @*از چپ مینویسد و فقط چپ را منظم میکند*@
        <p class="text-right">سلام تکست رایت</p>                  @*از راست مینویسد و فقط راست را منظم میکند*@
        <p class="text-justify">سلام تکست جاستی فای</p>           @*خط را راست و چپش را منظم روی یک خط میکند*@
        <p class="text-nowrap">سلام تکست نه وارپ</p>              @*این دستور میگوید خط شکسته نشود و به خط بعدی نرود و کل متن در یک خط باشد*@
        <p class="text-lowercase"> hey text lowercase</p>
        <p class="text-uppercase">hey text upercase</p>
        <p class="initialism">hey initialism</p>                  @*همان قبلی فقط فونت را بزرگ نمیکند*@
        <p class="text-capitalize">hey text capitalize</p>        @*خیلی کاربردی*@
        <abbr title="سلام">salam title</abbr>                      @*زیرش خط میکشد و موس را تغییر میدهد علامت سوال میگذارد و تایتل میزند*@
        <br />
        <br />
        <address class="text-left" style="margin-left:15px;">
            @*برای موتور های جستوجوگر و سئوی سایت*@
            <strong>mahdi hajian</strong><br />
            iran-esfahan . ...<br />
            <abbr title="phone">p:</abbr>
            012-3456789<br />
            mail : <a href="mahdi.hajian@gmail.com">mahdi.hajian@gmail.com</a>
        </address>
        <blockquote>سلام بلاک</blockquote>                          @*کمتر از استرانگ برجسته میکنه*@
        <blockquote>
            <p>some text to text some text to text some text to text.</p>   @*متن و توضیحات*@
            <footer>one desceptr</footer>
        </blockquote>

        <blockquote class="blockquote-reverse">                             @*متن و توضیحات برای فارسی*@
            <p>مقداری متن زیبای فارسی</p>
            <footer>کاری از مهدی حاجیان </footer>
        </blockquote>
    </div>
</body>
</html>
