
@{
    ViewBag.Title = "index";
}
<form class="container" style="font-family:Tahoma;">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span> messages</a></li>
            <li><a><span class="glyphicon glyphicon-usd"></span> store</a></li>
            <li><a><span class="glyphicon glyphicon-thumbs-up"></span> content us</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div>
        <ul class="nav nav-pills">
            <li class="active"><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span> messages</a></li>
            <li><a><span class="glyphicon glyphicon-usd"></span> store</a></li>
            <li><a><span class="glyphicon glyphicon-thumbs-up"></span> content us</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-lg-3">
            <li class="active"><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span> messages</a></li>
            <li><a><span class="glyphicon glyphicon-usd"></span> store</a></li>
            <li><a><span class="glyphicon glyphicon-thumbs-up"></span> content us</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div>
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span> messages</a></li>
            <li><a><span class="glyphicon glyphicon-usd"></span> store</a></li>
            <li><a><span class="glyphicon glyphicon-thumbs-up"></span> content us</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span> messages</a></li>
            <li><a><span class="glyphicon glyphicon-usd"></span> store</a></li>
            <li class="dropdown"><a><span class="glyphicon glyphicon-blackboard"></span> learn <span class="caret"></span></a></li>
            <li class="dropdown-toggle" data-toggle="dropdown"><a></a></li>
            <li></li>
            <li><a><span class="glyphicon glyphicon-thumbs-up"></span> content us</a></li>
        </ul>
    </div>
</form>