
@{
    ViewBag.Title = "index";
}
<form class="container" style="font-family:Tahoma;">
    <div>
        <button class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-globe"></span>   @*برای شکلک گذاشتن*@
            home
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
    </div>
    <br />
    <br />
    <div class="dropdown">                                                         @*اگر نذاریم این کلاس را در پایین ترین جای صفحه میاید گزینه ها*@
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">       @*اگر دیتا تاگل نباشد گزینه ها اصلا نمی آید*@
            sabad
            <span class="caret"></span>                                            @*همان نشانه ی کوچک در بقل نوشته ک مثل توانه*@                      
        </button>
        <ul class="dropdown-menu">
            <li><a>one site</a></li>
            <li><a>2 site</a></li>
            <li><a>3 site</a></li>
            <li><a>4 site</a></li>
        </ul>
    </div>
    <br />
    <br />
    <div class="dropdown" dir="rtl">                                                  @*دکمه را به راست میبرد*@
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">    
            سبد کالا
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" style="text-align:right">       @*کلاس دومی گزینه هارا به راست میبرد*@
            <li class="dropdown-header">سایت ها</li>                                 @*نوع نوشته و رنگ و .. تغییر میکند و هدر میشود*@
            <li><a>سایت اول</a></li>
            <li><a>سایت دوم</a></li>
            <li><a>سایت سوم</a></li>
            <li><a>سایت چهارم</a></li>
            <li class="divider"></li>                                                 @*خط می اندازد*@
            <li class="dropdown-header">اموزش ها</li>                                 
            <li><button class="btn btn-success btn-block">جاوا</button></li>
            <li><button class="btn btn-warning btn-block">سی شارپ</button></li>
            <li><button class="btn btn-danger btn-block">سی پلاس پلاس</button></li>
        </ul>
    </div>
</form>
<br />
<br />
<br />
<br />  
<form class="container" style="font-family:Tahoma">
    <div class="progress">                               @*اگر ننویسیم کل پراگرس پنهان میشه*@
        <div class="progress-bar progress-bar-striped progress-bar-success active" style="width:50%;">
            50%
        </div>           
        @*پراگرس بار رو اگ ننویسیم میله داخل پراگرس میره*@
        @*پراگرس بار اسپرید شیار شیار میکنه*@
        @*اکتیو شیار هارا به حرکت در می آورد*@
        @*ویت (طول) مقدار میله نسبت به کل دایو و پراگرس است*@
        <div class="progress-bar progress-bar-striped progress-bar-warning active" style="width:20%;">
            20%
        </div>
    </div>
</form>
