
@{
    ViewBag.Title = "index";
}
<div class="container">
    <div>
        شکل
        <button class="btn btn-default">دکمه پیشفرض</button>
        <button class="btn btn-primary" style="border-radius:25px">دکمه اصلی با رادیوس</button>
        <button class="btn btn-primary">دکمه اصلی</button>
        <button class="btn btn-info">دکمه اینفو</button>
        <button class="btn btn-danger">دکمه خطر</button>
        <button class="btn btn-warning">دکمه هشدار</button>
        <button class="btn btn-success">دکمه موفقیت</button>
        <button class="btn btn-link">دکمه لینک</button>
    </div>
    <br />
    <br />
    <br />
    <div>
        سایز
        <button class="btn btn-danger btn-lg">دکمه بزرگ</button>
        <button class="btn btn-info">دکمه عادی</button>
        <button class="btn btn-warning btn-sm">دکمه کوچک</button>
        <button class="btn btn-primary btn-xs">دکمه بسیار کوچک</button>
        <button class="btn btn-success btn-block">دکمه بلاک</button>
    </div>
    <br />
    <br />
    <br />
    فعالیت
    <div>
        <button class="btn btn-primary active">دکمه اکتیو</button>
        <button class="btn btn-info" disabled>دکمه غیرفعال</button>
        <a class="btn btn-danger" role="button">دکمه ی لینک</a>
    </div>
    <br />
    <br />
    <br />
    حالت های عکس
    <div>
        <img src="~/Content/image/IMG_20170511_144217.jpg" style="width:300px;border-radius:10px;" class="img-responsive" />  @*ریسپانسیو با رادیوس*@
        <img src="~/Content/image/IMG_20170511_144217.jpg" style="width:300px;height:300px;" class="img-circle" />            @*عکس دایره*@
        <img src="~/Content/image/IMG_20170511_144217.jpg" style="width:300px;" class="img-thumbnail" />                      @*بوردر دارد*@
        <br />
        <img src="~/Content/image/IMG_20170511_144217.jpg" style="width:300px;border:5px solid blue;" class="img-circle" />   @*شخصی سازی بوردر را خودم ساختم و چون عکس مربع نبود بیضی شد*@
    </div>
    <br />
    <br />
    <br />
    حالت های متن
    <div>
        <p class="text-danger">this is a some text.</p>
        <p class="text-success">this is a some text.</p>
        <p class="text-info">this is a some text.</p>
        <p class="text-warning">this is a some text.</p>
        <p class="text-primary">this is a some text.</p>
        background===>
        <p class="bg-danger">this is a some text.</p>
        <p class="bg-primary">this is a some text.</p>
        <p class="bg-success">this is a some text.</p>
        <p class="bg-info">this is a some text.</p>
    </div>
    <br />
    <div>
        <button class="close">&times;</button>       @*کلاس کلوز دوره دکمه را برمیدارد و فقط متن هست*@
    </div>
</div>